div {
    margin-left: auto;
    margin-right: auto;
}
#checkOut {
    background-color: azure;
    text-align: center;
    border: 3px solid grey;
    width: 90%;
    height: 650px;
}
#checkOut img {
    width: 40vw;
    height: 50vh;
}
#small_btn {
    width: 8vw;
    height: 12vh;
    border: 2px;
    border-style: outset;
    border-radius: 25px;
    padding-top: -1px;
    float: left;
    
}
#small_btn_2 {
    padding-top: -1px;
    float: right;
    width: 8vw;
    height: 12vh;
    border: 2px;
    border-style: outset;
    border-radius: 25px;
}
