body {
    text-align: center;
    background-image: url("water\ death.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1650px;
}
div {
    /*background-color: black;*/
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr {
    border-width:0;
    color:black;
    background-color:black;
    width: 30%;
    height: 2px;
}
.button {
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
#storePage {
    
    /*background-color: white;*/
    text-align: center;
    /*border: 3px solid black;*/
    width: 95%;
    height: 1650px;
    /*background-image: URL(
        'water\ death.jpg');*/
}
#storePage a {
    text-decoration: none;
}
#storePage button {
    background-color: gray;
    background-repeat: no-repeat;
    border: 2px;
    border-style: outset;
    border-radius: 25px;
    cursor: pointer;
    padding: 15px 32px;
}
.headings {
    position: fixed;
    max-width: 100%;
    min-width: 70%;
    padding-left: 12%;
}
.shoppingCart img {
    width: 4vw;
}
.dropdown {
    position: relative;
    padding-right: 2%;
    display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 90vw;
      min-height: 20vh;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropbtn {
      background-color: grey;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    /*.dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}*/
  
#logo {
    float: right;
    color: black;
}
#phone {
    padding-right: 2%;
}
.features {
    padding-top: 1%;
    align-content: center;
}
.features img {
    float: left;
    width: 3.5vw;
}
.features a {
    float: left;
    color: black;
}
.content {
    padding-top: 1%;
    align-content: center;
}
.content img {
    float: right;
    width: 3.5vw;
}
.content a {
    float: right;
    color: black;
}
.content p {
    float: right;
    color: white;
}
.logo {
    padding-top: 5%;
}
.itemId {
    color: black;
    text-align: center;
    width: 100%;
    height: 500px;
    padding-top: 4%;
    /*background-color: aquamarine;*/

}
.itemId p {
    color: black;
}
.itemId img {
    width: 15%;
    height: 120px;
    
}
#sidebar {
    color: rgba(146,146,146,1.00);
	float: left;
	width: 15%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	background-color: rgba(246,246,246,1.00);
	padding-top: 36px;
	height: 784px;
    opacity: 0.7;
}
#sidebar:hover {
    opacity: 1;
} 
.purchase {
    text-align: center;
    /*float: left;*/
    width: 100%;
    height: 120px;
    /*background-color: green;*/
}
footer {
	clear: both;
	overflow: auto;
	background-color: rgba(208,207,207,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 22px;
	padding-left: 22px;
	text-align: center;
	padding-bottom: 22px;
	padding-right: 22px;
    opacity: 0.5;
}
footer:hover {
    opacity: 1;
}
/*Each footer content */
footer div {
	width: 27%;
	float: left;
	padding-left: 4%;
	padding-right: 2%;
	color: rgba(255,255,255,1.00);
	text-align: justify;
}
/* Links in footer */
footer div a {
	color: rgba(146,146,146,1.00);
	display: block;
	text-decoration: none;
	text-align: center;
}
footer div p {
    color: black;
}
#footer1 {
    float: left;
}
#footer2 {
    float: none;
}
#footer3 {
    float: right;
}
#package1 {
    vertical-align: text-top;
    height: 33%;
    width: 24%;
    float: left;
    /*background-color: aqua;*/

}
#package1 img {
    width: 15vw;
    height: 27vh;
}
#package2 {
    vertical-align: text-bottom;
    height: 33%;
    width: 24%;
    float: left;
    /*background-color: white;*/
}
#package2 img {
    width: 15vw;
    height: 27vh;
}
#package3 {
    vertical-align: sub;
    height: 33%;
    width: 24%;
    float: left;
    /*background-color: blue;*/
}
#package3 img {
    width: 15vw;
    height: 27vh;
}
.purchase {
    text-align: center;
    float: left;
    padding-top: 12%;
    width: 100%;
    height: 320px;
    /*background-color: green;*/
}
.shoppingCart img{
    float: right;
    width: 4%;
    height: 30px;
}
.shoppingCart p {
    float: right;
    top: 0%;
    right: 0%;
    color: black;

}
#advertisements {
    font-family: 'Montserrat', sans-serif;
	clear: both;
	background-color: rgba(246,246,246,1.00);
	color: rgba(146,146,146,1.00);
	padding-left: 115px;
	padding-top: 57px;
	padding-bottom: 57px;
}
ul {
  list-style-type: none;
}

/* media queries */

@media screen and (max-width: 450px) {
    #storePage {
        height: 1950px;
        position:relative;
}
#logo {
    float: right;
    padding-top: 19%;
}
.content img{
    width: 5vw;
    height: 6vh;
}
#advertisements {
    position: fixed;
    max-width: 100%;
    width: 80%;
    height: 8%;
    padding-left: 12%;
    padding-left: 45px;
    bottom: 0;
	/*padding-top: 57px;
	padding-bottom: 57px;*/
}
.page {
    padding-top: 27%;
  }
#package1 {
    width: 57%;
    padding-left: 8%;
    display: block;
}/*
#package1 > * {
    grid-column-start: 1;
    grid-row-start: 1;
}*/
#package1 img {
    width: 50vw;
}
#package2 {
    display: block;
}/*
#package2 > * {
    width: 57%;
    padding-left: 8%;
    grid-column-start: 4;
    grid-row-start: 4;
}*/
}
#package2 img {
    width: 50vw;
}
#package3 {
    width: 57%;
    padding-left: 8%;
    visibility: hidden;
}
#package3 img {
    width: 50vw;
}
.itemId {
    height: 700px;
}
#sidebar {
    visibility: hidden;
}
}
@media screen and (max-width: 550px) {
    #logo {
    float: right;
    padding-top: 19%;
}
.page {
    padding-top: 20%;
  }
    #package1 {
    width: 45%;
}
#package1 img {
    width: 40vw;
}
#package2 {
    width: 45%;
}
#package2 img {
    width: 40vw;
}
#package3 {
    width: 45%;
    visibility: hidden;
}
#package3 img {
    width: 40vw;
}
#sidebar {
    visibility: hidden;
}
}
@media screen and (max-width: 1920px) {
    #logo {
    float: right;
    padding-top: 9%;
}
.page {
    padding-top: 12%;
  }
#package1 {
    width: 33%;
}
#package1 img {
    width: 25vw;
}
#package2 {
    width: 33%;
}
#package2 img {
    width: 25vw;
}
#package3 {
    width: 33%;
    display: block;
    visibility: visible;
}
#package3 img {
    width: 25vw;
}
#sidebar {
    visibility: visible;
    width: 25%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	
}
}
