body {
    text-align: center;
    background-image: url("water\ death.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250%;
}
div {
    /*background-color: black;*/
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr {
    border-width:0;
    color:black;
    background-color:black;
    width: 30%;
    height: 2px;
}
.button {
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
#storePage {
    
    /*background-color: white;*/
    text-align: center;
    /*border: 3px solid black;*/
    width: 95%;
    height: 1250px;
    /*background-image: URL(
        'water\ death.jpg');*/
}
#storePage a {
    text-decoration: none;
}
#storePage button {
    background-color: gray;
    background-repeat: no-repeat;
    border: 2px;
    border-style: outset;
    border-radius: 25px;
    cursor: pointer;
    padding: 15px 32px;
}
.headings {
    position: fixed;
    max-width: 100%;
    min-width: 70%;
    padding-left: 12%;
}
.shoppingCart img {
    width: 4vw;
}
.dropdown {
    position: relative;
    padding-right: 2%;
    display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 50vw;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropbtn {
      background-color: grey;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  .page {
    padding-top: 7%;
  }
#logo {
    float: right;
    color: black;
}
#phone {
    padding-right: 2%;
}
.features {
    padding-top: 1%;
    align-content: center;
}
.features img {
    float: left;
    width: 3.5vw;
}
.features a {
    float: left;
    color: black;
}
.content {
    padding-top: 1%;
    align-content: center;
}
.content img {
    float: right;
    width: 3.5vw;
}
.content a {
    float: right;
    color: black;
}
.content p {
    float: right;
    color: white;
}
.logo {
    padding-top: 5%;
}
.itemId {
    color: black;
    text-align: center;
    width: 100%;
    height: 500px;
    padding-top: 13%;
    /*background-color: aquamarine;*/

}
.itemId p {
    color: black;
}
.itemId img {
    width: 15%;
    height: 120px;
    
}
.purchase {
    text-align: center;
    /*float: left;*/
    width: 100%;
    height: 120px;
    /*background-color: green;*/
}
#wrapper {
	width: 100%;
	height: 90px;
}
#package1 {
    vertical-align: text-top;
    height: 33%;
    width: 33%;
    float: left;
    /*background-color: aqua;*/

}
#package1 img {
    width: 25vw;
    height: 33vh;
}
#package2 {
    vertical-align: text-bottom;
    height: 33%;
    width: 33%;
    float: left;
    /*background-color: white;*/
}
#package2 img {
    width: 25vw;
    height: 33vh;
}
#package3 {
    vertical-align: sub;
    height: 33%;
    width: 33%;
    float: left;
    /*background-color: blue;*/
}
#package3 img {
    width: 25vw;
    height: 33vh;
}
.purchase {
    text-align: center;
    float: left;
    padding-top: 12%;
    width: 100%;
    height: 320px;
    /*background-color: green;*/
}
.shoppingCart img{
    float: right;
    width: 4%;
    height: 30px;
}
.shoppingCart p {
    float: right;
    top: 0%;
    right: 0%;
    color: black;

}

